header {
  margin-top: 10px;
  border-bottom: 1px solid #ededef;
  padding-bottom: 10px;
}

/* μΈν¬λ°” */
.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
}

.info-bar__name {
  font-size: 50px;
  font-weight: bold;
}

.info-bar__icons {
  cursor: pointer;
}

.info-bar__icons img {
  width: 30px;
}
